@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Mono', monospace;
}

.btn {
	border-radius: 0 !important;
	padding: 12px 70px !important;
}

input {
    border-radius: 0 !important;
    padding: 25px 15px !important;
}

body {
	background-color: #fafafa;
}
header {
	background-color: #212121;
	padding: 100px;
}
.title {
    text-align: center;
    font-size: 4em;
    color: #fafafa;
}
.subtitle {
    text-align: center;
    margin-top: 1.5em;
    font-size: 1.5em;
    color: #fafafa;
}
.form-section {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

.templates img {
	transition: all .4s ease-in-out;
}
.templates .card:hover img {
	transform: scale(2);
}

.templates .card {
	cursor: pointer;
}