@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Mono', monospace;
}

.btn {
	border-radius: 0 !important;
	padding: 12px 70px !important;
}

input {
    border-radius: 0 !important;
    padding: 25px 15px !important;
}

body {
	background-color: #fafafa;
}