<html>
<head>
    <title>Gerador de Documentos</title>
    <link rel="stylesheet" type="text/css" href="${path}/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="${path}/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="${path}/css/generator.css" />
    <link rel="icon" href="${path}/img/portfolio-icon.png">
</head>
<body>
    <header>
        <h1 class="title">Preencha os dados abaixo para baixar seu documento</h1>
    </header>

    <input type="hidden" name="templateId" id="templateId" value="${template.id}">

    <main>
        <section class="container mt-5">
            <form id="form">
                <div>
                    <#list template.inputList as item>

                        <#if item.type == 'TEXT'>
                            <div class="form-group">
                                <label for="${item.name}">${item.label}</label>
                                <input type="text" class="form-control" id="${item.name}" title="${item.title}" name="${item.name}" placeholder="${(item.placeholder)!}">
                            </div>
                        </#if>

                        <#if item.type == 'NUMBER'>
                            <div class="form-group">
                                <label for="${item.name}">${item.label}</label>
                                <input type="number" class="form-control" id="${item.name}" name="${item.name}" placeholder="${(item.placeholder)!}">
                            </div>
                        </#if>

                        <#if item.type == 'EMAIL'>
                            <div class="form-group">
                                <label for="${item.name}">${item.label}</label>
                                    <input type="email" class="form-control" id="${item.name}" name="${item.name}" placeholder="${(item.placeholder)!}">
                            </div>
                        </#if>


                        <#if item.type == 'TEXTAREA'>
                            <div class="form-group">
                                <label for="${item.name}">${item.label}</label>
                                    <textarea class="form-control" id="${item.name}" name="${item.name}" placeholder="${(item.placeholder)!}"></textarea>
                            </div>
                        </#if>

                    </#list>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownExport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Baixar Documento
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownExport">
                            <#list template.exportTypeSet as type>
                                <a class="dropdown-item" href="#" onclick="generate(event, '${type}')">${type.label}</a>
                            </#list>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </main>

    <script src="${path}/jquery/jquery.min.js"></script>
    <script src="${path}/bootstrap/js/popper.min.js"></script>
    <script src="${path}/bootstrap/js/bootstrap.min.js"></script>
    <script src="${path}/js/generator.js"></script>
</body>
</html>